<div class="page-header">
	<h1>Viewing Friendship</h1>
</div>

<% if @user_friendship.requested? %>
<h3> Hey, do you really want to be friend with  <%= @friend.first_name %> ?</h3>

<div class="form-actions">
	<% if @user_friendship.requested? %>
	  <%=  form_for @user_friendship, url: @accept_user_friendship_path(@user_friendship),
	   method: :put  do |form| %>
	   <% end %>

	  <%= submit_tag "Accept Friendship", class: "btn btn-primary" %>
	 
   
   <% end %>
</div>
<% end %>

